# Python
__pycache__/
*.py[cod]
*$py.class


# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
venv/
env/
.env/
.venv/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Logs
*.log 